<!-- blair add baidu tongji start... @2017.10.03 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8864d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- blair add baidu tongji end ! @2017.10.03 -->
<!-- jiangting add start... @2020.08.30 -->
<div id="menu" class="duration-main" style="background-color: rgb(80, 144, 128);">
  <a class="name" href="/article/Create-MyResume">dtysky</a>
  <address class="icons">
    <a href="/feeds/all" class="icon-font icon rss" target="_blank"></a>
    <a href="https://github.com/dtysky" class="icon-font icon github" target="_blank"></a>
    <a href="https://cn.linkedin.com/pub/tianyu-dai/a8/818/44a" class="icon-font icon linkedin" target="_blank"></a>
    <a href="http://psnprofiles.com/dtysky" class="icon-font icon playstation" target="_blank"></a>
  </address>
  <div class="hr1"></div>
  <nav>
    <div>
    <a class="home" href="/">Home</a></div>
    <nav class="tag-ath">
      <a class="tags" href="/tags">Tags</a>
      <a class="authors" href="/authors">Authors</a>
    </nav>
  </nav>
  <div class="hr2"></div>
    <p class="links-p">Links</p>
      <address class="links">
      <a class="proj" href="/article/Create-MyWorld">Projects</a>
      <a class="friend">Friends</a></address><div class="hr3">
  </div>
  <p class="end">这是一个孤独行者的轨迹。</p>
  <div id="menu-links" class="duration-main" style="top: -400px; background-color: rgb(80, 144, 128);">
    <address>
      <li><a target="_blank" href="http://lm7.xxxxxxxx.jp">Lm7</a></li>
      <li><a target="_blank" href="http://www.pixiv.net/member.php?id=4933015">Domik</a></li>
      <li><a target="_blank" href="http://hana-ui.moe">hana-ui</a></li>
      <li><a target="_blank" href="http://fil.dtysky.moe">F-I-L</a></li>
      <li><a target="_blank" href="http://paradise.dtysky.moe">Paradise</a></li>
      <li><a target="_blank" href="http://moe-notes.dtysky.moe">MoeNotes</a></li>
      <li><a target="_blank" href="http://kanata.dtysky.moe">Kanata</a></li>
      <li><a target="_blank" href="http://blog.nekohand.moe">Nekohand</a></li>
      <li><a target="_blank" href="http://www.jerryfu.net">JerryFu</a></li>
      <li><a target="_blank" href="http://kawabangga.com">南史</a></li>
      <li><a>Hide Links</a></li>
    </address>
  </div>
</div>
<!-- jiangting add end !  @2020.08.30 -->

<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
      <a id="logo" class="logo<%=(theme.logo_text?' logo-text':'')%>" href="<%- url_for('/') %>"><%=(theme.logo_text?theme.logo_text:'')%></a>
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <div id="search-form-wrap">
          <%- search_form({button: '&#xF002;'}) %>
        </div>
      </nav>
    </div>
  </div>
</header>
